#moi,#one{
    background-color: #020887;
}
#compe,#two{
    background-color: #334195;
}
#forma,#three{
    background-color: #647AA3;
}
#projets,#four{
    background-color: floralwhite;
}
footer{
    background-color:  #647AA3;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15%;
    padding-bottom: 3%;
}
h3{
    margin: 0%;
    display: flex;
    justify-content: center;
    font-family: "DM Serif Text", serif;
    padding: 50px;
    font-size: 100px;

}
html{
    background-color: black;
}
body{
    font-size: 20px;
    color: white;
    font-family: "Roboto Flex", serif;
    width: 100vw!important;
    
}
p{
    font-family: "Roboto Flex", serif;
}
#projets,footer{
    color: #020887;
}
#forma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reseau{
    height: 90px;
    width: 100PX;
}
.fa-brands{
    font-size: 100px;
    object-fit: cover;
}
.reseau:hover{
    background-color: floralwhite;
}
nav{
    display: flex;
    justify-content: space-around;
    color: floralwhite;
    height: 80px;
}
#uno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#moi{
    display: flex;
    justify-content: space-evenly;
}
.lang{
    width: 180px;
}
#compe{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#compe div {
    width: 30%;
}
#toile{
    width: 550px;
}
#forma{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
a{
    color: white;
}

#site{
    width: 550px;
}
#projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#present{
    height: 100px;
}
#four,#projets{
    background-color: black;
    color: floralwhite;
}
#mot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:  #334195;
    padding: 10%;
}

#last{
    display: flex;
    justify-content: space-evenly;
}
#last img{
    width: 650px;
    height: 650px;

}
a{
   text-decoration: none;
}
#moi,#two,#three,#four,#mot,#foot{
    padding-bottom: 150px;
}
@media only screen and (max-width: 480px) {
    nav {
        flex-wrap: wrap;
        padding-bottom: 10%;
        gap: 5%;
    }
    #moi, #forma, #compe, #last,#mot{
        flex-direction: column;
        align-items: center;
    }
    #projets,#forma{
        flex-direction: column;
    }
    #forma img {
        width: 250px;
    }
    #projets img{
        width: 360px;
    }
    #mot img{
        width: 350px;
        height: 370px;
    }
    h3,h1{
        font-size: 50px;
    }
    #compe{
        display: flex;
        flex-wrap: wrap;
    }
    #uno,#projets{
        padding: 8%;
    }
    #uno,#two,#three#four,#mot,#foot{
        padding-bottom: 70px;
    }
    #projets{
        width: 100%;
    }
  }