*{
    margin: 0;
}
.btn{
    background-color: #0090FF;
    width: fit-content;
    padding: 12px 24px;
}
#home-hero{
    display: flex;
    justify-content: center;
    padding: 120px;
    h1{
        margin-bottom: 18px;
    }
    #hero-container{
        width: 1080px;
        display: flex;
        justify-content: center;
        gap: 40px;
        img{
            width: 400px;
        }
        #hero-content{
            width: 400px;
            color: #e4f4ff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 24px;
            #present{
                color: #4c9ae6;
                margin-bottom: 8px;

            }
            p{
                margin-bottom: 32px;
            }
        }
    }
}
h1{
    font-size: 55px;
}
#moi,#home-hero{
    background-color: #003362;
}
#compe,#two{
    background-color: #205D9E;
}
#forma,#three{
    background-color: #003362;
}
#projets,#four{
    background-color: #205D9E;
    color: floralwhite;
    gap: 40px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15%;
    padding-bottom: 3%;
}
h3{
    margin: 0%;
    display: flex;
    justify-content: center;
    font-family: "DM Serif Text", serif;
    padding: 50px;
    font-size: 35px;

}
html{
    background-color: black;
}
body{
    font-size: 20px;
    color: white;
    font-family: "Roboto Flex", serif;
    width: 100vw!important;
    
}
p{
    font-family: "Roboto Flex", serif;
}
#forma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reseau{
    height: 90px;
    width: 100PX;
}
.fa-brands{
    font-size: 100px;
    object-fit: cover;
}
.reseau:hover{
    background-color: floralwhite;
}
nav{
    display: flex;
    justify-content: space-around;
    color: floralwhite;
    height: 80px;
}
#uno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#moi{
    display: flex;
    justify-content: space-evenly;
}
.lang{
    width: 180px;
}
#compe{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#compe div {
    width: 30%;
}
#toile{
    width: 550px;
}
#forma{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
a{
    color: white;
}

#site{
    width: 550px;
}
#projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#mot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:  #003362;
    img,p{
        padding: 150px;
    }
}

#last{
    display: flex;
    justify-content: space-evenly;
}
#last img{
    width: 650px;
    height: 650px;

}
a{
   text-decoration: none;
}
#moi,#two,#three,#four,#mot,#foot{
    padding-bottom: 150px;
}

@media only screen and (max-width: 480px) {
    nav {
        flex-wrap: wrap;
        padding-bottom: 10%;
        gap: 5%;
    }
    #moi, #forma, #compe, #last,#mot{
        flex-direction: column;
        align-items: center;
    }
    #projets,#forma{
        flex-direction: column;
    }
    #forma img {
        width: 250px;
    }
    #projets img{
        width: 360px;
    }
    #mot img{
        width: 350px;
        height: 370px;
    }
    h3,h1{
        font-size: 50px;
    }
    #compe{
        display: flex;
        flex-wrap: wrap;
    }
    #uno,#projets{
        padding: 8%;
    }
    #uno,#two,#three#four,#mot,#foot{
        padding-bottom: 70px;
    }
    #projets{
        width: 100%;
    }
  }